In [1]:
import pandas as pd;
raw = pd.read_json('arrivals_data/arrivals.json');

In [10]:
rockville_arrivals = raw['Rockville'].dropna()
len(rockville_arrivals)

2483

In [14]:
for key in raw.keys():
    print key

Addison Road-Seat Pleasant
Anacostia
Archives-Navy Memorial-Penn Quarter
Arlington Cemetery
Ballston-MU
Benning Road
Bethesda
Braddock Road
Branch Ave
Brookland-CUA
Capitol Heights
Capitol South
Cheverly
Clarendon
Cleveland Park
College, Park-U of MD
Columbia Heights
Congress Heights
Court House
Crystal City
Deanwood
Dunn Loring-Merrifield
Dupont Circle
East, Falls Church
Eastern Market
Eisenhower Avenue
Farragut North
Farragut, West
Federal Center SW
Federal Triangle
Foggy Bottom-GWU
Forest Glen
Fort Totten
Franconia-Springfield
Friendship Heights
Gallery Pl-Chinatown
Georgia Ave-Petworth
Glenmont
Greenbelt
Greensboro
Grosvenor-Strathmore
Huntington
Judiciary Square
King St-Old Town
LEnfant Plaza
Landover
Largo Town Center
McLean
McPherson Square
Medical Center
Metro Center
Minnesota, Ave
Morgan Boulevard
Mt Vernon Sq 7th St-Convention Center
Navy Yard-Ballpark
Naylor Road
New Carrollton
NoMa-Gallaudet U
Pentagon
Pentagon City
Potomac Ave
Prince Georges Plaza
Rhode Island Ave-Brentwood
Rockville
Ronald Reagan Washington National Airport
Rosslyn
Shady Grove
Shaw-Howard U
Silver Spring
Smithsonian
Southern Avenue
Spring Hill
Stadium-Armory
Suitland
Takoma
Tenleytown-AU
Twinbrook
Tysons Corner
U Street
Union Station
Van Dorn Street
Van Ness-UDC
Vienna,
Virginia Square-GMU
Waterfront
West Falls Church-VT
West Hyattsville
Wheaton
White Flint
Wiehle-Reston East
Woodley Park-Zoo
fb

In [17]:
clean=pd.DataFrame()
for key in raw.keys():
    clean[key]=raw[key].dropna()

In [22]:
clean['Addison Road-Seat Pleasant'][1]

{u'current_station': u'Addison Road-Seat Pleasant',
 u'destination': u'Franconia-Springfield',
 u'line': u'blue',
 u'minutes_to_arrival': 28,
 u'number_of_cars': u'6',
 u'time': u'2016-05-23 04:30:16'}

In [37]:
example_row = pd.io.json.json_normalize(clean['Addison Road-Seat Pleasant'][1])
example_row

,current_station,destination,line,minutes_to_arrival,number_of_cars,time
0,Addison Road-Seat Pleasant,Franconia-Springfield,blue,28,6,2016-05-23 04:30:16

In [35]:
clean_normalize = pd.io.json.json_normalize(clean['Addison Road-Seat Pleasant'])

In [61]:
cleaned_up = pd.DataFrame(columns=example_row.columns)
newObj=pd.Series();
for i in clean['Addison Road-Seat Pleasant']:
#     cleaned_up.append(pd.io.json.json_normalize(i))

#     print pd.io.json.json_normalize(i)

IndentationError: expected an indented block (<ipython-input-61-dc52921df60e>, line 6)

In [63]:
for i in xrange(0,len(clean['Addison Road-Seat Pleasant'])):
    cleaned_up[i]=clean['Addison Road-Seat Pleasant'][i]

In [60]:
clean['Addison Road-Seat Pleasant'][0]['current_station']

u'Addison Road-Seat Pleasant'

In [64]:
cleaned_up

,current_station,destination,line,minutes_to_arrival,number_of_cars,time,0,1,2,3,...,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199
current_station,NaN,NaN,NaN,NaN,NaN,NaN,destination,destination,destination,destination,...,destination,destination,destination,destination,destination,destination,destination,destination,destination,destination
destination,NaN,NaN,NaN,NaN,NaN,NaN,number_of_cars,number_of_cars,number_of_cars,number_of_cars,...,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars,number_of_cars
line,NaN,NaN,NaN,NaN,NaN,NaN,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,...,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival,minutes_to_arrival
minutes_to_arrival,NaN,NaN,NaN,NaN,NaN,NaN,time,time,time,time,...,time,time,time,time,time,time,time,time,time,time
number_of_cars,NaN,NaN,NaN,NaN,NaN,NaN,current_station,current_station,current_station,current_station,...,current_station,current_station,current_station,current_station,current_station,current_station,current_station,current_station,current_station,current_station
time,NaN,NaN,NaN,NaN,NaN,NaN,line,line,line,line,...,line,line,line,line,line,line,line,line,line,line